* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin-bottom: 0.9em;
}

img {
  margin-bottom: 1.9em;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2.1em;
  margin-bottom: 5.7em;
}

button {
  width: 65%;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  border-radius: 20px;
  padding: 1em;
  border: 2px solid hsl(0, 0%, 95%);
  cursor: pointer;
}

.main {
  max-width: 375px;
  font-family: "Lexend Deca", sans-serif;
  margin: 7em 0 2em 0;
}

.section {
  width: 100%;
  padding: 3em;
}

.section:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-family: "Lexend Deca", sans-serif;
  color: hsl(184, 100%, 22%);
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

.btn-sedans-more {
  color: hsl(31, 77%, 52%);
}

.btn-sedans-more:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.btn-suvs-more {
  color: hsl(184, 100%, 22%);
}

.btn-suvs-more:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.btn-luxury-more {
  color: hsl(179, 100%, 13%);
}

.btn-luxury-more:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

.attribution a {
  color: hsl(179, 100%, 13%);
}

.attribution a:hover {
  border-bottom: 2px solid hsl(179, 100%, 13%);
}

@media (min-width: 1440px) {
  body {
    height: 100vh;
  }

  .main {
    display: flex;
    flex-direction: row;
    min-width: 1440px;
    min-height: 500px;
  }

  .section:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .section:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
